*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;

}
/* display grid */
body{
    display: grid;

}
body{
    grid-template-rows: auto minmax(100%, 100dvh);
}
/* nevbar */
.navbar{
    & img[alt='logo']{
        width: 5rem;
    }
}
/* All the images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
/* Text align centre */
:is(h2){
    text-align: center;
}
